.checkbox-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
.modal-checkbox {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adjust the value as needed */
  }

.modal-text {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adjust the value as needed */
  }

.modal-competitors {
  display: flex;
  align-items: column;
  margin-left: 20px; /* Adjust the value as needed */
}

  