<body>

<div class="card" *ngIf="!isLogged">
  <h2>Login</h2>
  <form>
      <input type="text" placeholder="Inserisci email per login" required [(ngModel)]="email" name="email">
      <input type="password" placeholder="Inserisci password per login" required [(ngModel)]="password" name="password">
      <button type="button" (click)="Login()">Login</button>
  </form>
  <p class="btn info"> per registrarti clicca <a [routerLink]="['/login/newuser']">qui</a></p> 
</div>

<div class="card" *ngIf="isLogged">
  <h2>Benvenuto {{Name}}</h2>
  <button (click)="Inizia()">Clicca qui per iniziare</button>
</div>

</body>
