<div class="container mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.age}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!--<li><a class="dropdown-item" href="#" (click)="onMenuAction('view', item)">View</a></li>-->
                <!--<li><a class="dropdown-item" href="#" (click)="onMenuAction('edit', item)">Edit</a></li>
                <li><a class="dropdown-item" href="#" (click)="onMenuAction('delete', item)">Delete</a></li>-->
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  