<button type="button" class="btn btn-primary" (click)="AddRedirezione()">Aggiungi Redirezione </button>

<br>
  <br>
    <h1>Redirezioni</h1>
    <br>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="fill">
              <mat-label>Cerca</mat-label>
              <input matInput placeholder="Cerca" [(ngModel)]="searchText">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table mat-table [dataSource]="filteredData" class="mat-elevation-z8">
              <ng-container matColumnDef="Url">
                <th mat-header-cell *matHeaderCellDef> Url </th>
                <td mat-cell *matCellDef="let item"> {{ item.url }} </td>
              </ng-container>
              <ng-container matColumnDef="Url Redirezione">
                <th mat-header-cell *matHeaderCellDef> Url Redirezione </th>
                <td mat-cell *matCellDef="let item" (click)="copyToClipboard(item.redirectUrl)"> {{ item.redirectUrl }} </td>
              </ng-container>
              <ng-container matColumnDef="Attiva">
                <th mat-header-cell *matHeaderCellDef> Attiva </th>
                <td mat-cell *matCellDef="let item"> {{ item.active ? "Si" : "No" }} </td>
              </ng-container>
              <ng-container matColumnDef="Azioni">
                <th mat-header-cell *matHeaderCellDef> Azioni </th>
                <td mat-cell *matCellDef="let item">
                  <button mat-button [matMenuTriggerFor]="menu">Azioni</button>
                  <mat-menu #menu="matMenu">
                    @if (item.active) {
                      <button mat-menu-item (click)="AbilitaDisabilitaRedirezione(item, false)">Disabilita</button>
                    }
                    @if (!item.active) {
                      <button mat-menu-item (click)="AbilitaDisabilitaRedirezione(item, true)">Abilita</button>
                    }
                    <button mat-menu-item (click)="CancellaRedirezione(item)">Cancella</button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
        <mat-paginator [length]="redirezioni.length" [pageSizeOptions]="pageSizes" aria-label="Seleziona pagina" (page)="PageChange($event)">
        </mat-paginator>
      </div>
