<div *ngIf="DocList.length > 0">
  <div class="container mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Tipo Documento</th>
          <th scope="col">Nome Documento</th>
          <th scope="col">Data Caricamento</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of DocList">
          <td scope="row">{{getTypeById(item.idTipoDocumento)}}</td>
          <td scope="row">{{item.nomeDocumento}}</td>
          <td scope="row">{{item.dataCaricamento}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary" type="button" id="viewDoc" (click)="openDoc(item.idDocumento)" aria-expanded="false">
                Scarica
              </button>
              <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#" (click)="onMenuAction('view', item)">Visualizza</a></li>
                <li><a class="dropdown-item" href="#" (click)="onMenuAction('edit', item)">Scarica</a></li>
              </ul>-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="DocList.length == 0">
  <h2>Al momento non hai nessun documento</h2>
</div>
  