footer {
    background: #ef8b8b;
    color: #fff;
    text-align: center;
    font-size: 1em;
    box-sizing: border-box;
}

/* Styles for mobile */
@media (max-width: 768px) {
  footer {
    font-size: 0.95em;
    padding: 8px 0;
  }
}
