<div class="card">
    <h5 class="card-header">Grafica</h5>
    <div class="card-body">
      <p class="card-text">Gestione Immagini e sezioni per ogni pagina</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/gestionesito/gestionegrafica']">Gestione Grafica</a>
    </div>
  </div>

  <br><br>

  <div class="card">
    <h5 class="card-header">Redirezioni</h5>
    <div class="card-body">
      <p class="card-text">Gestione link a Social/Siti</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/gestionesito/gestione']"redirezione>Gestione Redirezione</a>
    </div>
  </div>

  <br><br>

  <div class="card">
    <h5 class="card-header">Email</h5>
    <div class="card-body">
      <p class="card-text">Gestione invio mail</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/gestionesito/gestionemail']">Gestione Mail</a>
    </div>
  </div>