<div class="card">
    <h5 class="card-header">Grafica</h5>
    <div class="card-body">
      <p class="card-text">Gestione Immagini e sezioni per ogni pagina</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/gestionesito/gestionegrafica']">Gestione Grafica</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Redirezioni</h5>
    <div class="card-body">
      <p class="card-text">Gestione link a Social/Siti</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/gestionesito/gestioneredirezioni']"redirezione>Gestione Redirezione</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Video</h5>
    <div class="card-body">
      <p class="card-text">Gestione link a video</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/gestionesito/gestionevideo']"redirezione>Gestione Video</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Notifiche</h5>
    <div class="card-body">
      <p class="card-text">Gestione notifiche</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/gestionesito/gestionenotifiche']">Gestione Notifiche</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Template</h5>
    <div class="card-body">
      <p class="card-text">Gestione template</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/gestionesito/gestionetemplate']">Gestione Template</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Email</h5>
    <div class="card-body">
      <p class="card-text">Gestione invio mail</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/gestionesito/gestionemail']">Gestione Mail</a>
    </div>
  </div>

  <br><br>