<!--<h1>NEWS</h1>-->

@for (notizia of news; track notizia) {
  <div class="card mb-3" >
    <div class="card-body">
      @if (notizia.title.length != 0) {
        <div>
          <h5 class="card-title" >{{ notizia.title }}</h5>
        </div>
      }
      @if (notizia.description.length != 0) {
        <div>
          <p class="card-text">{{ notizia.description }}</p>
        </div>
      }
      @if (notizia.isAdditionalTextMarkdown) {
        <div class="markdown">
          <markdown [data]="notizia.additionalText"></markdown>
          <br><br>
        </div>
      }
      @if (!notizia.isAdditionalTextMarkdown) {
        <div class="nomarkdown">
          <p>{{ notizia.additionalText }}</p>
          <br><br>
        </div>
      }
    </div>
  </div>
}

