body {
    font-family: 'Arial', sans-serif;
    background-color: #f5cfcf;
    text-align: center; /* Center all text */
}
.container {
    width: 100vw;
    margin: auto;
    overflow: hidden;
}
header {
    background: #fb2c2c;
    color: #fff;
    padding: 5% 0;
    text-align: center;
    width: 100vw;
}
header h1 {
    font-size: 2.0em;
}
.caption {
    background: #ef4c4c;
    color: #fff;
    padding: 2%;
    margin-top: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.video-section {
    margin-top: 5%;
}
.video {
    background: #fff;
    padding: 5px;
    margin-bottom: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.video h3, .video p {
    text-align: center;
}
youtube-player {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Center the video player */
    margin-bottom: 5%; /* Space between videos */
    border-radius: 5px; /* Rounded corners for the video player */
}
